body{
  background-color: black;
  color: azure;
  
  
}

.timerDiv{
  /*text-align: center;
  top:50%;*/
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  border: 2px solid white
  
}

.timer{
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  font-size: 200px;
  font-weight: bolder;
  padding: 20px;
}